<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro DesafioDH</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header> 
        <img src="/images/logo-mercado-liebre.svg" alt="aqui va el logo">
<div> barra de busqueda</div>
<div> compra en cuotas y sin tarjeta de credito</div>
<nav>
    <ul>
        <li><a href ="#">Ofertas</a></li>
        <li><a href ="#">Tiendas oficiales</a></li>
        <li><a href ="#">Vender</a></li>
        <li><a href ="#">Ayuda</a></li>
        <li><a href ="#">Tiendas oficiales</a></li>
    </ul>
    <ul>
        <li><a href ="#">Creá tu cuenta</a></li>
        <li><a href ="#">Ingresa</a></li>
        <li><a href ="#">Mis compras</a></li>
    </ul>
</nav>
    </header>
<section>
    <article>
        <img src= "/images/img-cafetera-moulinex.jpg" alt="aqui va la cafetera">
        <span>$6.770</span> 
        <span>40% OFF</span>
        <p>Cafetera Moulinex</p>
    </article>

    <article>
        <img src="/images/img-macbook-pro-2019.jpg">
        <span>$230.000</span>
        <span>20% OFF</span>
        <p>MacBook Pro 2019</p>
    </article>

    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg">
        <span>$70.500</span>
        <span>10% OFF</span>
        <p>Samsung Galaxy S10</p>
    </article>

    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg">
        <span>$23.200</span>
        <span>5% OFF</span>
        <p>SmartTv Samsung 43"</p>
    </article>
</section>

<section>
    <article>
        <h2>Sección de Ofertas</h2>
        <img src="/images/img-cafetera-moulinex.jpg">
        <span>$6.770</span>
        <span>40% OFF</span>
        <h4>Cafetera Moulinex</h4>
    </article>

    <article>
        <img src="/images/img-macbook-pro-2019.jpg">
        <span>$230.000</span>
        <span>20% OFF</span>
        <h4>MacBook Pro 2019</h4>
    </article>

    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg">
        <span>$70.500</span>
        <span>10% OFF</span>
        <h4>Samsung Galaxy S10</h4>
    </article>

    <article>
        <img src="/images/img-tv-samsung-smart.jpg">
        <span>$23.200</span>
        <span>5% OFF</span>
        <h4>SmartTv Samsung 43"</h4>
    </article>    
</section>
<footer>
<section>
    <article>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
        <h3>Envio gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </article>
</section>
</footer>
</body>
</html>